<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name">
        <!--        android:theme="@style/Theme.VitalConnect_dev">-->


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.activity.ConversationListActivity">

        </activity>
        <activity
            android:name=".ui.activity.MessageListActivity">


        </activity>
        <activity
            android:name=".ui.activity.ConversationDetailsActivity">


        </activity>
        <activity
            android:name=".ui.activity.ParticipantListActivity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.eemphasys.vitalconnect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>